<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


  <title>PeePeeRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        
      <nav class="navbar">
        
        <h1>PeePeeRoom</h1>

      <button class='btn btn-success'><%= link_to 'Inscription', new_user_registration_path %></button> 

      <button class='btn btn-success '><%= link_to 'Connexion', new_user_session_path %></button>

      <% if user_signed_in? %>
  
      <button class='btn btn-success'><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></button>


      </nav>





  <% end %>
        

      <div class="notice">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>

<%= yield %>

<% if controller_name == "users" %>
<%= link_to" afficher les PeePeeRoom", companies_path %>
<% end %>



</body>
</html>
